@font-face {
    font-family: 'RoadRadio';
    src: url('RoadRadio-Bold.woff2') format('woff2'),
        url('RoadRadio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

