:root {
  scroll-behavior: smooth;
}

body {
  background-color: theme(colors.dark);
  color: hsl(209, 100%, 98%);
  z-index: 0;
  overflow-x: clip;
}

.prose {
  & p:not(:last-of-type) {
    margin-bottom: 0.7em;
  }
}
