.hidden-block {
  /* opacity: 0; */
  --offset: 8rem;
  --x: 0px;
  --y: 0px;
  transform: translate(var(--x), var(--y));
  transition: transform 0.5s;

  &.dir-left {
    --x: calc(var(--offset) * -1);
  }
  &.dir-right {
    --x: var(--offset);
  }
  &.dir-top {
    --y: calc(var(--offset * -1));
  }
  &.dir-bottom {
    --y: var(--offset);
  }

  &.hidden-block--visible {
    /* opacity: 1; */
    --x: 0px;
    --y: 0px;
  }
}
